<h5 class="day-header center">


  <span class="ml1 lines">
  	<% if i == 0 %>
  		<% if params[:view] == "daily"  %>
              Today
            <% else %>
              This Week
            <% end %>
  	<% else %>
  		<%= params[:view] == "daily" ? "" : "Week of" %> <%= format_date(week) %></span>
  	<% end %>
</h5>
