<h5 class="day-header center">


  <span class="ml1 lines">
    <% if params[:view] == "weekly"  %>
      <% if week == Date.today.beginning_of_week %>
        This Week
      <% else %>
        Week of <%= format_date(week) %>
      <% end %>
    <% else %>
      <% if week == Date.today %>
        Today
      <% else %>
        <%= format_date(week) %>
      <% end %>
    <% end %>
  </span>
</h5>
