<% if signed_in? && current_user.voted_for?(game) %>
  <a class="upvote-block -voted block" href="<%= unupvote_game_path(game) %>" data-method="post">
    <p class="voteicon">▲</p>
    <p class="m0"><%= game.cached_votes_up %></p>
  </a>
<% else %>
  <a class="upvote-block block" href="<%= upvote_game_path(game) %>" data-method="post">
   	<p class="voteicon">▲</p>
    <p class="m0"><%= game.cached_votes_up %></p>
  </a>
<% end %>