<h1>Your game has been scheduled!</h1>

<h3>Hi <%= @user.username %>,</h3>

<p>Your game <%= @game.title %> has been scheduled to be published to Gamamia on <%= @game.scheduled_at %>! That's because we think it's awesome.</p>

<p>Sincerely, <br />
The Gamamia Team <br />
<a href="http://gamamia.com" target="_blank">http://gamamia.com</a>
</p>