  <section class="container clearfix mt2">
  	<div class="col bg-white user-meta">
  		<%= render 'users/nav' %> 
  	</div>
  	<div class="col user-edit">
  		<div class="profile-settings bg-white p3">
	  		<p class="mb1">Profile Settings</p>
	  		<p class="light-gray update">Update your username, email and password</p>

	  		<%= render "form" %>
	  	</div>
  		
  	</div>
  </section>

