.dark-gray {
  color: #4A4A4A;
}

.white {
  color: white;
}

.blue {
  color: #0076df;
}

.mid-gray {
  color: #777;
}

.light-gray {
  color: #9B9B9B;
}

.lighter-gray {
  color: #eee;
}

.red {
  color: #ff4919;
}

.green {
  color: #00df3f;
}

.yellow {
  color: #ffcf00;
}

.bg-dark-gray {
  background-color: #333;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background: #000;
  color: white;
}

.bg-blue {
  background-color: #0076df;
}

.bg-mid-gray {
  background-color: #777;
}

.bg-light-gray {
  background-color: #ccc;
}

.bg-lighter-gray {
  background-color: #eee;
}

.bg-red {
  background-color: #ff4919;
}

.bg-green {
  background-color: #00df3f;
}

.bg-yellow {
  background-color: #ffcf00;
}

.bg-darken-1 {
  background-color: rgba(0, 0, 0, .0625);
}

.bg-darken-2 {
  background-color: rgba(0, 0, 0, .125);
}

.bg-darken-3 {
  background-color: rgba(0, 0, 0, .25);
}

.bg-darken-4 {
  background-color: rgba(0, 0, 0, .5);
}
