.bold {
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.caps {
  text-transform: uppercase;
  letter-spacing: .2em;
}

.left-align {
  text-align: left;
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

.justify {
  text-align: justify;
}

.nowrap {
  white-space: nowrap;
}

.small {
  font-size: 0.65em;
}

.opacity-half {
  opacity: 0.5;
}

.day-header {
  font-size: 1.125em;
  margin-top: 4em;
  margin-bottom: 2em;
  text-transform: uppercase;
}

.lines {
  display: inline-block;
  letter-spacing: 2px;
}

.lines:before, .lines:after {
  content: '';
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lines:after {
  margin-top: 7px;
  border-bottom: 2px solid #ccc;
}

.display-none {
  display: none !important;
}

.lg-hide {
  @media (min-width: 41em) {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
}

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}