button,
.button {
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1.125rem;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:hover {
  text-decoration: none;
}

.button-blue {
  color: white;
  background-color: $blue;
  border-radius: 0px;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-property: box-shadow, background-color;
          transition-property: box-shadow, background-color;
}

.button-blue:hover {
  opacity: .875;
}

.button-blue:active,
.button-blue.is-active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, .125), inset 0 2px 3px 0 rgba(0, 0, 0, .25);
}

.button-blue:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .5), 0 0 1px 4px rgba(0, 118, 223, .5);
}

.button-blue:disabled,
.button-blue.is-disabled {
  opacity: .5;
}