input,
select,
textarea,
fieldset {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: .5rem;
}

input[type=text],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  box-sizing: border-box;
  height: 2.25rem;
  padding: .5rem .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

select {
  box-sizing: border-box;
  line-height: 1.75;
  padding: .5rem .5rem;
}

select:not([multiple]) {
  vertical-align: middle;
}

textarea {
  box-sizing: border-box;
  line-height: 1.75;
  padding: .5rem .5rem;
  resize: vertical;
}

.fieldset-reset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border: 0;
}

.fieldset-reset legend {
  padding: 0;
}

.field-light {
  background-color: white;
  -webkit-transition: box-shadow .2s ease;
          transition: box-shadow .2s ease;
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
  border-radius: 0px;
}

.field-light:focus {
  outline: none;
  border-color: #0076df;
  box-shadow: 0 0 2px rgba(0, 118, 223, .5);
}

.field-light:disabled {
  color: #777;
  background-color: rgba(0, 0, 0, .125);
}

.field-light:read-only:not(select) {
  background-color: rgba(0, 0, 0, .125);
}

.field-light:invalid {
  border-color: #ff4919;
}

.field-light.is-success {
  border-color: #00df3f;
}

.field-light.is-warning {
  border-color: #ffcf00;
}

.field-light.is-error {
  border-color: #ff4919;
}

.radio-light,
.checkbox-light {
  -webkit-transition: box-shadow .2s ease;
          transition: box-shadow .2s ease;
}

.radio-light {
  border-radius: 50%;
}

.radio-light:focus,
.checkbox-light:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(0, 118, 223, .5);
}

.field-dark {
  color: white;
  background-color: rgba(0, 0, 0, .25);
  border: 1px solid rgba(0, 0, 0, .0625);
  border-radius: 0px;
}

.field-dark::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .75);
}

.field-dark::-moz-placeholder {
  color: rgba(255, 255, 255, .75);
}

.field-dark:-ms-input-placeholder {
  color: rgba(255, 255, 255, .75);
}

.field-dark::placeholder {
  color: rgba(255, 255, 255, .75);
}

.field-dark:focus {
  outline: 0;
  border: 1px solid rgba(255, 255, 255, .5);
}

.field-dark:read-only:not(select) {
  background-color: rgba(255, 255, 255, .25);
}

.field-dark:invalid {
  border-color: #ff4919;
}

.field-dark.is-success {
  border-color: #00df3f;
}

.field-dark.is-warning {
  border-color: #ffcf00;
}

.field-dark.is-error {
  border-color: #ff4919;
}

.help-block {
  color: $light-gray;
  font-size: 0.75em;
}