<%= render 'ui/navbar' %>

<div class="container">
  <% @days.each do |day, games| %>

    <%= render 'days/day', day: day %>
    
      <% games.each do |game| %>
        <div class="clearfix m2 table game-block">
            <%= render 'games/game', game: game %>
          </div>
      <% end %>

  <% end %>
</div>
