<%= render 'ui/navbar' %>

<div class="container">
  <% @weeks.each do |week, games| %>

    <%= render 'weeks/week', week: week %>
    
      <% games.each do |game| %>
        <div class="clearfix m2 table game-block">
            <%= render 'games/game', game: game %>
          </div>
      <% end %>

  <% end %>
</div>
