  <% if user_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </li>
  <% end %>

  <h1>Listing games</h1>
  <% if user_is_admin? %>
    <%= link_to("Add Game", new_admin_game_path) %>
    <%= link_to "Admin view" , admin_games_path %>
  <% end %>

  <%= render @games %>
