<%= render 'ui/navbar' %>

<div class="container">

  <% @weeks.each_with_index do |(week, games), i| %>

    <%= render 'weeks/week', week: week, i: i %>
    
      <% games.each do |game| %>
        <div class="clearfix m2 table game-block">
            <%= render 'games/game', game: game %>
          </div>
      <% end %>

  <% end %>
</div>
