<%= render 'ui/navbar' %>

<div class="container py3">
  <div class="bg-white col-6 mx-auto p3">
    <h1 class="mt0 mb1">Add a game</h1>
    <p class="mid-gray mb3">Know a game that you think is awesome? Submit it to share it with everybody. The game must be playable.</p>
    <%= render 'form' %>
  </div>
</div>
