<section class="bg-white filter-bar">
  <div class="container clearfix">

    <div class="left">
      <ul class="list-reset clearfix m0 py2">
        <li class="left mr3">
          <%= nav_link_to "Weekly", games_path, :class => 'fb-link py2' %>
        </li>
        <li class="left">
          <%= nav_link_to "Daily", games_path(view: "daily"), :class => 'fb-link py2' %>
        </li>

      </ul>


    </div>

    <div class="right">


    </div>

  </div>
</section>