#mc_embed_signup {
	@include bp(medium) {
		max-width: 500px;
		margin: 2em auto;
	}
}

.signup {
	background: #FA5A5A;
	color: white;
	padding: 1em 3em 1em 3em;
	width: 79.5%;
}

.submit {
	position: absolute;
	right: 3em;
	border: 5px solid white;
	background: #FA5A5A;
	text-transform: lowercase;
	color: white;
	font-size: 0.875em;

	@include bp(medium) {
		bottom: 1.15em;
	}
}

.email, input[type=email] {
	border: none;
	height: 44px;
	margin-bottom: 0;
}

.email {
	@include bp(medium) {
		width: 100%;
	}
}

.emaillabel {
	margin-top: 10px;

	@include bp(medium) {
		width: 100%;
		margin-bottom: 1em;
	}
}