.logo-bar {
	height: 63px;
}

.logo-bar .image {
	max-height: 63px;
	width: auto;
}

.logo-bar a {
	text-decoration: none;
	color: #fff;
}

.logo-bar .text {
	font-size: 1.125em;
	margin-top: 0.75rem;
}

.logo-bar .caption {
	font-size: 0.75em;
	padding-top: .1rem;
}