.nav-block {
	background: $dark-gray;
}

.hamburger {
	display: none;
	background: transparent;
	position: absolute;
	top: 0.5em;
	right: 1em;

	svg {
		fill: white;
		width: 25px;
	}

	@include bp(medium) {
		display: block;
	}

}

.nav-menu {
	@include bp(large) {
		float: right;
	}

	.avatar {
		@include bp(medium) {
			display: none;
		}
	}

	.nav-bar {

		@include bp(medium) {
			transition: max-height .2s;
			max-height: 0;
			box-sizing: border-box;
			width: 100%;
			position: absolute;
			top: 60px;
			z-index: 2;
			right: 0;
			background: #4A4A4A;
			text-align: left;
			box-shadow: inset 0 0 3px 3px rgba(50, 50, 50, 0.5);
			overflow: hidden;

			li {
				width: 100%;
				box-sizing: border-box;
				border-bottom: 1px solid #363636;
			}

			.add {
				border-bottom: none;
			}

			a {
				padding: 1em;
			}

			.add a {
				margin-left: 0;
			}

		}
		

		.left {
			@media (max-width: 41em) {
				float: none;
			}
		}
	}
}

#navbar.show-nav {
	max-height: 300px;
}

.nav-bar {
	@include bp(large) {
		padding-top: 0.5em;
		display: inline-block;
		max-height: 10px;
	}
}

.nav-bar a {
	color: #fff;
	font-size: 0.875em;
}

.link-item {
	padding-bottom: .75rem;
	padding-top: .75rem;
}

.add a {
	background: $red;
	color: $white;

	@include bp(small) {
		margin-left: 0;
	}

	@include bp(large) {

		font-weight: bold;
		font-size: 1em!important;
		margin-top: -8px;
		padding-top: 20px;
		padding-bottom: 19px;
		padding-right: 1em;
		padding-left: 1em;
		transition: 0.5s;
		&:hover {
			background: $blue;
		}
	}



}