.nav-block {
	background: $dark-gray;
}

.hamburger {
	display: none;
	background: transparent;
	position: absolute;
	top: 0.5em;
	right: 1em;

	svg {
		fill: white;
		width: 25px;
	}

	@media (max-width: 41em) {
		display: block;
	}

}

.nav-menu {
	@media (min-width: 41em) {
		float: right;
	}

	.nav-bar {

		@media (max-width: 41em) {
			box-sizing: border-box;
			width: 150px;
			position: absolute;
			right: 0;
			background: #4A4A4A;
			padding: 1em;
			text-align: left;
			height: 100%;
			right: -150px;
			box-shadow: inset 0 0 3px 3px #333;

		}
		

		.left {
			@media (max-width: 41em) {
				float: none;
			}
		}
	}
}

body.show-nav {
	transform: translateX(-150px);
}