.nav-bar {
	padding-top: 0.5em;
}

.nav-bar a {
	color: #fff;
	font-size: 0.875em;
}

.link {
	padding-bottom: .75rem;
	padding-top: .75rem;
}

.add {
	background: $red;
	color: $white;
	font-weight: bold;
	font-size: 1em!important;
	margin-top: -8px;
	padding-top: 20px;
	padding-bottom: 19px;
	padding-right: 1em;
	padding-left: 1em;
	transition: 0.5s;

	&:hover {
		background: $blue;
	}
}