.pagination {
	a {
		background: $white;
		border: 2px solid $blue;
		color: $blue;
		padding: 1em;
		margin-top: 2em;

		&:hover {
			background: $blue;
			color: $white;
		}
	}

	.older:before, .newer:after {
		font-weight: bold;
		position: relative;
	}

	.older:before {
		content: '◄';
	}

	.newer:after {
		content: '►';
		bottom: 0;
	}

	@include bp(medium) {
		max-width: 500px;
		margin: 0 auto;
	}

	@include bp(small) {
		max-width: 90%;
		margin: 0 auto;
	}
}