.replies-header {

	margin-top: -1em;

	button {
		margin-bottom: 0;
		color: $light-gray;
		font-size: 0.75em;
		background: transparent;
		padding: 0;
		font-weight: normal;

		&.blue {
			color: $blue;
		}
	}
}

.replies-block {
}

.reply-form {
	margin-top: 0.5em;
	display: none;
}

