.imageblur {
	filter: blur(15px);
	-webkit-filter: blur(15px);
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 0;
	width: 100%;
	height: 100%;
}

.bglayer {
	background: rgba(0, 0, 0, .25);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.show-block {
	.info {
		position: relative;

		p {
			color: white;
		}

		a {
			color: white;
		}

	.upvote-block p {
		color: $blue;
	}

	.upvote-block.-voted p {
		color: $white;
	}

	.upvote-block:hover p {
		color: white;
	}
	}

	.platform-list {
		font-size: 0.75em;
		margin-top: 9em;
		padding-left: 0;

		li {
			display: inline-block;
			margin-right: 0.5em;
			color: white;
		}
	}

	.game-posted {
		position: absolute;
		bottom: 3em;
		right: 1em;
	}

}

// Responsive Styles

.show-block {
	.info {
		@include bp(large) {
			padding: 2em;
		}

		@include bp(medium) {
			padding: 1em;
		}
	}

	.title {
		line-height: 1;
		margin-bottom: 0.5em;
		@include bp(large) {
			font-size: 3em;
		}
		
		@include bp(medium) {
			font-size: 2em;
			max-width: 75%;
		}
	}

	.vote_game {
		position: absolute;
		right: 1em;

		@include bp(large) {
			top: 2em;
		}

		@include bp(medium) {
			top: 0;
		}
	}

	.upvotes {
		width: $col-11;
		margin-left: auto;
		margin-right: auto;

		@include bp(medium) {
			max-width: 500px;
		}
	}
}