.user-meta {
	text-align: center;
	padding-top: 2.5em;


	.image {
		margin-bottom: 2em;
	}
	.image img {
		margin: 0 auto;
	}

	.user {
		font-size: 1em;
	}

	.occupation {
		font-size: 0.875em;
	}

	.button {
		display: block;
		border-radius: 0;
		font-size: 0.875em;
		padding: 1em;
	}
}

.user-votes {
	padding-left: 2.5em;
	.game-block {
		margin-bottom: 1.5em;
	}
}

.user-edit {
	padding-left: 2.5em;
}

.profile-settings {
	.update {
		font-size: 0.875em;
		padding-bottom: 1.5em;
		border-bottom: 1px solid #eee;
	}

	label {
		font-weight: bold;
		line-height: 2;
	}
}

// Responsive Sizes

.user-meta {
	@include bp(large) {
		width: $col-4;
	}

	@include bp(medium) {
		width: $col-11;
		max-width: 500px;
		margin: 0 auto;
		float: none;
	}
}

.user-votes {
	@include bp(large) {
		width: $col-8;

		.game {
			width: $col-12;
		}
	}

	@include bp(medium) {
		width: $col-12;
		max-width: 500px;
		margin: 0 auto;
		float: none;
		margin-top: 2em;
		padding-left: 0;

		.info {
			padding-left: 1em;
		}
	}
}

.user-edit {
	@include bp(large) {
		width: $col-8;
	}

	@include bp(medium) {
		width: $col-12;
		max-width: 500px;
		margin: 0 auto;
		float: none;
		padding: 0;
	}
}