<!DOCTYPE html>

<html lang = "en">

<head>
	<meta charset = "utf-8" />
	<meta name = "viewport" content = "width = device-width, initial scale = 1.0">
  <title>Indie Game Development &ndash; Weekly &ndash; Gamamia</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,600,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag 'newsletter', media: 'all' %>
</head>


<body>
    
<div class = "main-wrapper">

<div class = "header-wrapper">

    <h1> Gamamia </h1>
    <p> A free weekly digest for indie game devs. </br> 
        Subscribe <a href = "http://eepurl.com/_Q7O5" target="_Blank"> here</a>.
    <p> 
     <p class = "is-right">  Previous <a href = "http://us9.campaign-archive2.com/home/?u=458396ad3c696185fe544661a&id=a2accafc78" target="_Blank"> Issues </a>
    <p> 
</div>

        <div class = "newsletter-wrapper">

            <div class = "issue-number-wrapper">  <p>No.16</p>  </div>

            <div class = "newsletter-inner-layout">


                <!-- Interesting Reads Section-->

                 <p class = "is-center title">  <em> Interesting Reads </em> </p>

                    <div class="pure-g">

                          <div class="pure-u-md-1 pure-u-1">
                               <div class = "content-block block-large" id ="image-first-first">
                                <p class = "is-center block-title-large"> <a href = "http://www.gamasutra.com/blogs/HugoBille/20120114/90903/The_Invisible_Hand_of_Super_Metroid.php" target="_Blank">The Invisible Hand of Super Metroid </a> </p>
                                <p class = "is-center block-subtitle"> <em> gamasutra </em> </p>
                               </div>
                          </div>
                                                        
                          <div class="pure-u-md-1-2 pure-u-1">
                               <div class = "content-block block-large" id ="image-first-second">
                                <p class = "is-center block-title-large"> <a href = "http://www.reddit.com/r/gamedev/comments/32cwzn/about_being_burnt_out/" target="_Blank"> About Being Burnt Out</a> </p>
                                <p class = "is-center block-subtitle"> <em> reddit </em> </p>
                               </div>
                          </div>
                
                          <div class = "pure-u-md-1-2 pure-u-1">
                                 <div class="pure-u-1">
                                    <div class = "content-block block-small" id = "image-first-third">
                                        <p class = "is-center block-title-small"> <a href = "http://www.lostgarden.com/2015/04/minimum-sustainable-success.html" target="_Blank"> Minimal Sustainable Success </a> </p>
                                        <p class = "is-center block-subtitle"> <em> lostgarden </em> </p>
                                    </div>
                                 </div>
                                 <div class="pure-u-1">
                                    <div class = "content-block block-small" id = "image-first-fourth">
                                        <p class = "is-center block-title-small"> <a href = "http://www.rockpapershotgun.com/2015/04/24/paid-mods-steam/" target="_Blank"> Steam Charging for Mods </a> </p>
                                        <p class = "is-center block-subtitle"> <em> rockpapershotgun </em> </p>
                                    </div>
                                 </div>
                         </div>
                    </div>


                    <p class = "is-center title"> <em> Resources & Assets </em> </p>

                    <div class="pure-g">
                                                        
                          <div class="pure-u-md-1-2 pure-u-1">
                               <div class = "content-block block-large" id ="image-second-first">
                                <p class = "is-center block-title-large"> <a href = "http://opengameart.org/content/medieval-town-base-3d-assets" target="_Blank"> Medieval Town Base 3D Assets </a> </p>
                                <p class = "is-center block-subtitle"> <em> opengameart </em> </p>
                               </div>
                          </div>
                
                          <div class = "pure-u-md-1-2 pure-u-1">
                                 <div class="pure-u-1">
                                    <div class = "content-block block-small" id = "image-second-second">
                                        <p class = "is-center block-title-small"> <a href = "http://www.gamepix.com/blog/the-big-list-of-html5-3d-games-engines/" target="_Blank"> Big List of HTML5 3D Engines </a> </p>
                                        <p class = "is-center block-subtitle"> <em> lostgarden </em> </p>
                                    </div>
                                 </div>
                                 <div class="pure-u-1">
                                    <div class = "content-block block-small" id = "image-second-third">
                                        <p class = "is-center block-title-small"> <a href = "http://opengameart.org/content/puzzle-pack-2-795-assets" target="_Blank"> 795+ Puzzle Game Assets </a> </p>
                                        <p class = "is-center block-subtitle"> <em> opengameart </em> </p>
                                    </div>
                                 </div>
                         </div>
                    </div>


                     <p class = "is-center title"> <em> Tips and Tuts </em> </p>

                    <div class="pure-g">
                                                        
                          <div class="pure-u-md-1-2 pure-u-1">
                               <div class = "content-block block-large" id ="image-third-first">
                                <p class = "is-center block-title-large"> <a href = "https://thomashunter.name/blog/tips-for-building-mobile-games-in-html5/" target="_Blank"> Tips for Building Mobile HTML5 Games </a> </p>
                                <p class = "is-center block-subtitle"> <em> thomas hunter</em> </p>
                               </div>
                          </div>

                          <div class="pure-u-md-1-2 pure-u-1">
                               <div class = "content-block block-large" id ="image-third-second">
                                <p class = "is-center block-title-large"> <a href = "http://libgdx.badlogicgames.com/downloads/game-jam-survival-guide-compressed.pdf" target="_Blank"> Game Jam Survival Guide </a> </p>
                                <p class = "is-center block-subtitle"> <em> bad logic games </em> </p>
                               </div>
                          </div>

                          
                
                          
                    </div>




                    <p class = "is-center title"> <em> Games </em> </p>

                    <div class="pure-g">

                           <div class="pure-u-md-1 pure-u-1">
                               <div class = "content-block block-large" id ="image-fourth-fourth">
                                <p class = "is-center block-title-large"> <a href = "http://managore.itch.io/garden" target="_Blank"> Garden </a> </p>
                                <p class = "is-center block-subtitle"> <em> gamasutra </em> </p>
                               </div>
                          </div>
                                                        
                          <div class="pure-u-md-1-2 pure-u-1">
                               <div class = "content-block block-large" id ="image-fourth-first">
                                <p class = "is-center block-title-large"> <a href = "https://play.google.com/store/apps/details?id=com.mediocre.commute" target="_Blank"> Does Not Commute </a> </p>
                                <p class = "is-center block-subtitle"> <em> Free - Android </em> </p>
                               </div>
                          </div>


                          <div class="pure-u-md-1-2 pure-u-1">
                               <div class = "content-block block-large" id ="image-fourth-second">
                                <p class = "is-center block-title-large"> <a href = "http://fizzd.itch.io/rhythm-doctor" target="_Blank"> Rythm Doctor </a> </p>
                                <p class = "is-center block-subtitle"> <em> NYOP -  Windows | Mac </em> </p>
                               </div>
                          </div>


                          <div class="pure-u-md-1-2 pure-u-1">
                               <div class = "content-block block-large" id ="image-fourth-third">
                                <p class = "is-center block-title-large"> <a href = "http://aliceffekt.itch.io/oquonie" target="_Blank"> Oquonie </a> </p>
                                <p class = "is-center block-subtitle"> <em> $2 - Windows | iOS </em> </p>
                               </div>
                          </div>


                          <div class="pure-u-md-1-2 pure-u-1">
                               <div class = "content-block block-large" id ="image-fourth-seven">
                                <p class = "is-center block-title-large"> <a href = "http://managore.itch.io/akmow" target="_Blank"> A Knife Made of Whispers </a> </p>
                                <p class = "is-center block-subtitle"> <em> NYOP - Windows</em> </p>
                               </div>
                          </div>


                          <div class="pure-u-md-1-2 pure-u-1">
                               <div class = "content-block block-large" id ="image-fourth-fifth">
                                <p class = "is-center block-title-large"> <a href = "http://store.steampowered.com/app/274270/" target="_Blank"> Not a Hero</a> </p>
                                <p class = "is-center block-subtitle"> <em> Demo - Windows </em> </p>
                               </div>
                          </div>


                          <div class="pure-u-md-1-2 pure-u-1">
                               <div class = "content-block block-large" id ="image-fourth-sixth">
                                <p class = "is-center block-title-large"> <a href = "https://www.google.com" target="_Blank"> Pacapong </a> </p>
                                <p class = "is-center block-subtitle"> <em> NYOP - Windows | Mac | Linux </em> </p>
                               </div>
                          </div>


                    </div>
                </div>
        </div>



<div class = "form-bottom">

   <div class = "footer-label"> Sign up and recieve the digest one day before everyone else.</div>

  <form action="//gamamia.us9.list-manage.com/subscribe/post?u=458396ad3c696185fe544661a&amp;id=a2accafc78" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">


          <div id="mc_embed_signup_scroll">

            <div class="mc-field-group clearfix">

              <!--<label for="mce-EMAIL" class="col col-5 emaillabel">Want these in your email every week? </label> -->
              <div class = "pure-g">

                <div class = "pure-u-1 sub-footer">

                      <div class = "pure-u-1 pure-u-md-1-4">
  
                         <input type="email" onfocus="this.value = '';" value="your email" name="EMAIL" class="required email mce_inline_error" id="mce-EMAIL" aria- required="true">
  
                      </div>
  
                      <div class = "pure-u-1 pure-u-md-1-4">
  
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"   class="button-submit"></div>
  
                      </div>

              </div>

            </div>

           </div>

            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_458396ad3c696185fe544661a_a2accafc78" tabindex="-1" value=""></div>

          </div>

</div>

<div class = "footer is-center">

    <a href = "https://twitter.com/GamamiaPlaylist" target="_Blank"> <i class="fa fa-twitter"></i>  </a>
    <a href = "mailto:support@gamamia.com"> <i class="fa fa-envelope-o"></i> </a>

</div>

</div>
</body>
</html>