<!DOCTYPE html>

<html lang = "en">

<head>
	<meta charset = "utf-8" />
	<meta name = "viewport" content = "width = device-width, initial scale = 1.0">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  <%= stylesheet_link_tag 'newsletter', media: 'all' %>
</head>


<body>
    
<div class="splash is-center optimize-legibility">

        <div class = "title"> <p> THE GAMAMIA PLAYLIST </p> </div>
        <div class = "sub-title"> A free curated collection of indie games, resources, news and more. Delivered every Sunday.</div>
        <form action="//gamamia.us9.list-manage.com/subscribe/post?u=458396ad3c696185fe544661a&amp;id=a2accafc78" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group clearfix">
              <div class = "pure-g">
                <div class = "pure-u-1 sub-splash">
                      <div class = "pure-u-1 pure-u-md-1-4">
                         <input type="email" onfocus="this.value = '';" value="your email" name="EMAIL" class="required email mce_inline_error" id="mce-EMAIL" aria- required="true">
                      </div>
  
                      <div class = "pure-u-1 pure-u-md-1-4">
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"   class="button submit"></div>
                      </div>
              	</div>
            	</div>
           </div>

            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_458396ad3c696185fe544661a_a2accafc78" tabindex="-1" value=""></div>

          </div>

        </form>


</div>



<div class="content-wrapper">

    <div class="content">

        <div class = "playlist-number is-center"> 
          <p> Playlist 14 </p> 
        </div>
        <div class = "playlist-date is-center"> 
          <p> April 5th</p> 
        </div>

        <div class = "item-type"> Interesting Reads </div>
  
        <div class = "item">
             <p class = "item-description"> <a href = "http://www.eurogamer.net/articles/2015-04-08-winners-might-use-drugs" class = "item-link" target="_blank"> E-sport winners using drugs</a> </br>
           An interesting look at the world of electronic sports and the use of Adderall as a performance enhancing drug.</p>
        </div>

        <div class = "item">
             <p class = "item-description"> <a href = "https://www.reddit.com/r/gamedev/comments/3244ex/a_professional_programmer_recently_joined_my/" class = "item-link" target="_blank"> A pro developer joined my amateur game project, it didn't work out </a> </br>
            What happens when a professional developer joins your open source game project? Apparently a lot of confusion and problems. </p>
        </div>

        <div class = "item">
             <p class = "item-description"> <a href = "http://www.gamesradar.com/how-crumbling-bridge-full-zombies-helped-me-remember-beautiful-possibility-games/" class = "item-link" target="_blank"> How a bridge full of zombies reminded me of the possibility of games </a> </br>
            One man's love for a bridge and the structure of play.</p>
        </div>

        <div class = "item">
             <p class = "item-description"> <a href = "http://www.theguardian.com/technology/2015/mar/31/bloodborne-dark-souls-creator-hidetaka-miyazaki-interview" class = "item-link" target="_blank"> Interview with Bloodborne creator, Hidetaka Miyazaki </a> </br>
            A rare interview with one of the industries visionaries. </p>
        </div>

        <div class = "item">
             <p class = "item-description"> <a href = "http://www.reddit.com/r/gamedev/comments/31u0e9/first_completed_game_first_postmortem/" class = "item-link" target="_blank"> First Completed Game, First Post Mortem </a> </br>
            A rare interview with one of the industries visionaries. </p>
        </div>

        <div class = "item">
             <p class = "item-description"> <a href = "http://www.theguardian.com/technology/2015/mar/31/bloodborne-dark-souls-creator-hidetaka-miyazaki-interview" class = "item-link" target="_blank"> Interview with Bloodborne creator, Hidetaka Miyazaki </a> </br>
            A rare interview with one of the industries visionaries. </p>
        </div>

         <div class = "item">
             <p class = "item-description"> <a href = "http://www.androidpolice.com/2015/04/09/google-refuses-to-allow-postal-game-in-the-play-store-for-gratuitous-violence-apparently-they-forgot-about-gta-the-walking-dead-and-others/" class = "item-link" target="_blank"> Google bans Postal from the Play Store </a> </br> An article from Android Police on the refusal of Google to allow Postal on the grounds of gratuitous violence. </p>
        </div>



        <div class = "item-type"> Media </div>
   
        <div class = "item">
             <p class = "item-description"> <a href = "https://www.youtube.com/watch?v=aCS90rO0v6s" class = "item-link" target="_blank"> Interactive Game Environments Generated with Cellular Automata  </a> </br>
            A radical look at a shoot em up with an environment generated by cellular automata. </p>
        </div>
      
        <div class = "item-type"> Tips and Tuts </div>
   
        <div class = "item">
             <p class = "item-description"> <a href = "http://fomori.org/blog/?p=1178" class = "item-link" target="_blank"> How to add USB Gamepad Support for Android </a> </br>
            A step by step guide to equipping a usb gamepad to your Android phone or tablet. </p>
        </div>
        <div class = "item">
             <p class = "item-description"> <a href = "https://www.youtube.com/playlist?list=PLfAMZpOjTmpYjEX4B9iVsE_YQbDJljHCG" class = "item-link" target="_blank"> Ultimate Game Dev Tutorials  </a> </br>
            An extremely thorough and in depth game development tutorial series from ETeeski. </p>
        </div>
        <div class = "item">
             <p class = "item-description"> <a href = "https://www.youtube.com/watch?v=e0WkXh0TB14" class = "item-link" target="_blank">How to make HTML5 games with Quintus </a> </br>
            An excellent primer into HTML5 development with the Quintus JS framework.</p>
        </div>


        <div class = "item-type"> Free Assets and Resources</div>
   
        <div class = "item">
             <p class = "item-description"> <a href = "http://freegamearts.tuxfamily.org/" class = "item-link" target="_blank"> Free Game Art </a> </br>
            Free Game Arts promotes the use and development of free and "open source" game resources, including 3D models, sound effects, textures, games and development tools.  </p>
        </div>

      </br>
      </br>
      </br>

       

        <div class = "pure-g">

            <div>

             <div class = "item-type"> Games </div>
    
              <div class = "game">
                    <div class = "pure-u-1 pure-u-md-1-2">
                   
                      <h3> Hold it! </h3> 

                      <p class = "item-description"> 
                       A simple pixel art platformer with one goal, don't pee on stuff!
                       </br>
                       Free <a href = "http://gamejolt.com/games/arcade/hold-it/58242/" target="_blank"> Web </a>
                      </p>


    
                    </div>
    
                  <div class = "pure-u-1 pure-u-md-1-2 img-wrapper">
        
                     <div class = "game-image" id = "img-one">
                     </div>
    
                  </div>
              </div>




              <div class = "game">
                    <div class = "pure-u-1 pure-u-md-1-2">
                   
                      <h3> Vortex Impossible </h3> 

                      <p class = "item-description"> 
                       Push your skill of focus and precision by shooting through the openings of two spinning square rings.
                       </br>
                       Free <a href = "https://play.google.com/store/apps/details?id=com.blackbamboozstudio.vorteximpossible&hl=en" target="_blank"> Android </a>
                      </p>
    
                    </div>
    
                  <div class = "pure-u-1 pure-u-md-1-2 img-wrapper">
        
                     <div class = "game-image" id = "img-two">
                     </div>
    
                  </div>
              </div>




              <div class = "game">
                    <div class = "pure-u-1 pure-u-md-1-2">
                   
                      <h3> Sail </h3> 

                      <p class = "item-description"> 
                       A puzzle/board game that helps to train the brain and provides a refreshing break.
                       </br>
                       Free <a href = "https://play.google.com/store/apps/details?id=com.blackbambooz.sail&hl=en" target="_blank"> Android </a>
                      </p>
    
                    </div>
    
                  <div class = "pure-u-1 pure-u-md-1-2 img-wrapper">
        
                     <div class = "game-image" id = "img-three">
                     </div>
    
                  </div>
              </div>



              <div class = "game">
                    <div class = "pure-u-1 pure-u-md-1-2">
                   
                      <h3> Monologue </h3> 

                      <p class = "item-description"> 
                       You are the baddest villain in the west. Deliver the final monologue before your enemies escape!
                       </br>
                       Free <a href = "http://gamejolt.com/games/other/monologue/56005/#" target="_blank"> Web </a>
                      </p>
    
                    </div>
    
                  <div class = "pure-u-1 pure-u-md-1-2 img-wrapper">
        
                     <div class = "game-image" id = "img-four">
                     </div>
    
                  </div>
              </div>



              <div class = "game">
                    <div class = "pure-u-1 pure-u-md-1-2">
                   
                      <h3> Keys to Success </h3> 

                      <p class = "item-description"> 
                       An exploration of the essential keys or principles of success and achievement through in-game puzzles.
                       </br>
                       Free <a href = "http://gamejolt.com/games/platformer/keys-to-success/57410/" target="_blank"> Web </a>
                      </p>
    
                    </div>
    
                  <div class = "pure-u-1 pure-u-md-1-2 img-wrapper">
        
                     <div class = "game-image" id = "img-five">
                     </div>
    
                  </div>
              </div>



              <div class = "game">
                    <div class = "pure-u-1 pure-u-md-1-2">
                   
                      <h3>Hearth Quiz </h3> 

                      <p class = "item-description"> 
                       Compete with famous game characters on the knowledge of HearthStone game cards.
                       </br>
                       Free <a href = "https://itunes.apple.com/app/id943128229" target="_blank"> iOS </a>
                      </p>
    
                    </div>
    
                  <div class = "pure-u-1 pure-u-md-1-2 img-wrapper">
        
                     <div class = "game-image" id = "img-six">
                     </div>
    
                  </div>
              </div>



              <div class = "game">
                    <div class = "pure-u-1 pure-u-md-1-2">
                   
                      <h3> Side Swipe </h3> 

                      <p class = "item-description"> 
                       Swipe the screen correctly at an ever increasing pace to destroy the falling shapes.
                       </br>
                       Free <a href = "https://play.google.com/store/apps/details?id=com.NVS.sideswipe" target="_blank"> Android </a>
                      </p>
    
                    </div>
    
                  <div class = "pure-u-1 pure-u-md-1-2 img-wrapper">
        
                     <div class = "game-image" id = "img-seven">
                     </div>
    
                  </div>
              </div>


           </div>

      </div>
      

    </div> 
    
</div>


<div class = "form-bottom">

   <div class = "footer-label"> A free curated collection of indie games, resources, news and more. Delivered every Sunday.</div>

  <form action="//gamamia.us9.list-manage.com/subscribe/post?u=458396ad3c696185fe544661a&amp;id=a2accafc78" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group clearfix">
              <div class = "pure-g">

                <div class = "pure-u-1 sub-footer">

                      <div class = "pure-u-1 pure-u-md-1-4">
                         <input type="email" onfocus="this.value = '';" value="your email" name="EMAIL" class="required email mce_inline_error" id="mce-EMAIL" aria- required="true">
                      </div>
  
                      <div class = "pure-u-1 pure-u-md-1-4">
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"   class="button submit"></div>
                      </div>
              </div>

            </div>

           </div>

            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_458396ad3c696185fe544661a_a2accafc78" tabindex="-1" value=""></div>
          </div>


</div>

<div class = "footer">

  <p> <a href = "mailto:support@gamamia.com"> Contact </a> </p> 
  <p> <a href = "mailto:support@gamamia.com"> Submit  </a> </p> 
  <p> <a href = "https://twitter.com/" target="_blank"> Twitter </a> </p> 

</div>


<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>

</body>


</html>

