// Color Variables

$dark-gray : #4A4A4A;
$light-gray : #9B9B9B;
$white : #FFF;

$red : #FA5A5A;
$blue : #71D8EC;

// Grid Variables
$col-1 :  8.333333333333332%;
$col-2 :  16.666666666666664%;
$col-3 :  25%;
$col-4 :  33.33333333333333%;
$col-5 :  41.66666666666667%;
$col-6 :  50%;
$col-7 :  58.333333333333336%;
$col-8 :  66.66666666666666%;
$col-9 :  75%;
$col-10 : 83.33333333333334%;
$col-11 : 91.66666666666666%;
$col-12 : 100%;


@mixin bp($point) {
  
  $small: "(max-width: 35em)";
  $medium: "(max-width: 55em)";
  $large:  "(min-width: 55em)";

  @if $point == small {
    @media #{$small} { @content; }
  }
  @if $point == medium {
    @media #{$medium} { @content; }
  }
  @else if $point == large {
    @media #{$large} { @content; }
  }

}