@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://fonts.gstatic.com/s/ubuntu/v7/_aijTyevf54tkVDLy-dlnJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/zvCUQcxqeoKhyOlbifSAaevvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

h1, h2, h3, h4, h5, h6,
body {
  font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h4 {
	font-size: 2em;
	font-weight: 300;
}

p {
	font-weight: 300;
	font-size: 0.875em;
	color: #A5A5A5;
	line-height: 1.25;
}

body {
  background-color: #F4F4F4;
  color: #3C3C3C;
}

.dark-gray {
	color: #3C3C3C;
}

.light-gray {
	color: #BFBFBF;
}

.small {
	font-size: 0.65em;
}

.vertically-center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.logo-bar {
	max-height: 100px;
	color: #FA5555;
}

.logo-bar .logo {
	max-height: 100px;
	width: auto;
}

.logo-bar .textbox {
	height: 100px;
}

.logo-bar a {
	color: #FA5555;
	text-decoration: none;
}

.logotext {
	text-transform: uppercase;
	font-size: 1.375em;
}

.logocaption {
	font-size: 1em;
}

.nav-bar a {
	color: #FA5555;
}

.nav-bar .addicon {
	max-width: 25px;
}

.nav-bar .logtext {
	margin-left: 0.5em;
}

.day-header {
	font-size: 2em;
}

.upvote-block {
	font-size: 1.25em;
	border: 1px solid #BFBFBF;
	border-radius: 5px;
}

.upvote-block:hover {
	text-decoration: none;
	background: #71D8EC;
	color: white !important;
	border-color: #71D8EC;
}

.upvote-block:hover {
	color: #71D8EC;
}

.upvote-block.-voted {
	background: #71D8EC;
	color: white;
	border-color: #71D8EC;
}

.speech-bubble {
	position: relative;
	padding: 3px 10px 3px 10px;
	border: 1px solid #71D8EC;
	border-radius: 6px;
	color: #71D8EC;
	font-size: 0.9em;
	margin-top: 0.2em;
}

.speech-bubble:before {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 10px;
	border-width: 10px 6px 0;
	border-style: solid;
	border-color: #71D8EC transparent;
	display: block;
	width: 0;

}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: -9px;
	left: 11px;
	border-width: 9px 5px 0;
	border-style: solid;
	border-color: #fff transparent;
	display: block;
	width: 0;
}

.game-meta {
	box-shadow: 0 2px 2px 0 rgba(53, 53, 53, 0.21);
}

.gameplatform {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
}