@import 'variables';
@import 'base/*';
@import 'utilities/*';
@import 'components/*';

/* CSS is based off of BassCss (http://www.basscss.com/)
 *
 * Most CSS is abstracted in the utilities or base folder. These classes
 * should be used for positioning(relative), layout (grid), spacing (padding, margins, etc.), colors,
 * and anything that can be abstracted away and used in multiple places
 *
 * For CSS that needs to be customized beyond these abstractions, create a componenet,
 * based on the RSCSS philosophy (https://github.com/rstacruz/rscss).  
 * Componenets should begin with a two word block, with encapsulated styles within the block
 * See any of the components for examples 
 *
 * If you are trying to get going quick, use the area below to put CSS that still needs to be refactored
 * And let the core team know in your Pull Request. 
 *
 * Don't worry too much, we're flexible :)
*/

.video-link {
	word-wrap: break-word;
}

.video-block:nth-of-type(3n+1) {
	padding-left: 0;
}

.comment-posted {
	position: absolute;
	top: 1em;
	right: 1em;
}

.with_autocomplete {
	position: relative;
}

.mentions-input-box {
	position: relative;
}

.mentions-input-box textarea {
  width: 100%;
  display: block;
  height: 18px;
  padding: 9px;
  border: 1px solid #dcdcdc;
  border-radius:3px;
  overflow: hidden;
  background: transparent;
  position: relative;
  outline: 0;
  resize: none;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.mentions-input-box .mentions-autocomplete-list {
  display: none;
  background: #fff;
  border: 1px solid #b2b2b2;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10000;
  margin-top: -2px;

  border-radius:5px;
  border-top-right-radius:0;
  border-top-left-radius:0;

  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
     -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
}

.mentions-input-box .mentions-autocomplete-list ul {
    margin: 0;
    padding: 0;
}

.mentions-input-box .mentions-autocomplete-list li {
	color: black;
  background-color: #fff;
  padding: 0 5px;
  margin: 0;
  width: auto;
  border-bottom: 1px solid #eee;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  cursor: pointer;
  list-style: none;
}

.mentions-input-box .mentions-autocomplete-list li > img,
.mentions-input-box .mentions-autocomplete-list li > div.icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-top:5px;
  margin-right: 5px;
  -moz-background-origin:3px;

  border-radius:3px;
}

.mentions-input-box .mentions {
  position: absolute;
  left: 1px;
  right: 0;
  top: 1px;
  bottom: 0;
  padding: 9px;
  color: #fff;
  overflow: hidden;

  white-space: pre-wrap;
  word-wrap: break-word;
}

.mentions-input-box .mentions > div {
  color: #fff;
  white-space: pre-wrap;
  width: 100%;
}

.mentions-input-box .mentions > div > strong {
  font-weight:normal;
  background: #d8dfea;
}

.mentions-input-box .mentions > div > strong > span {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.mentions-input-box .mentions-autocomplete-list li b {
  background: #ffff99;
  font-weight: normal;
}